.card-title{
    display: flex;
    justify-content: center;
}

.table{
    width: 100%;
}
.field{
    width: 100%;

}
.add-btn-container{
    display: flex;
    justify-content: center;
}
.add-btn{
    background-color: rgb(47, 168, 47);
    color: white;
    width: 50%;
}