
<div class="order-summary">
    <h1>Your Order Summary</h1>
</div>
<div class="total courses-list" *ngIf="cartSize>0" >
<mat-card>
<mat-card-header>
    <mat-card-title class="total-title">Total : {{getTotalAmout() | currency}}</mat-card-title>
    <button mat-raised-button color="primary" class="payment-btn" (click)="onPay()">Make Payment</button>
    <button mat-raised-button  class="payment-btn" (click)="onCancel()">Cancel</button>
</mat-card-header>
</mat-card>
</div>

<div class="courses-list" *ngIf="cartSize>0">
<div class="mat-elevation-z8">
<table mat-table [dataSource]="cartCourses">

  <!-- Position Column -->
  <ng-container matColumnDef="courseName">
    <th mat-header-cell *matHeaderCellDef style="padding-left: 45px;"> CourseName </th>
    <td mat-cell *matCellDef="let element" style="width: 8%; padding-left:30px;"> {{element.title}} </td>
  </ng-container>
    
  <!-- Symbol Column -->
  <ng-container matColumnDef="Course Image">
    <th mat-header-cell *matHeaderCellDef style="padding-left: 170px;"> CourseImage </th>
    <td mat-cell *matCellDef="let element" style="width: 10%;padding: 10px 60px;">
       <img [src]="element.urlImage" style="height:170px;padding-left: 50px;">
    </td>
  </ng-container>

   <!-- Symbol Column -->
   <ng-container matColumnDef="Price">
    <th mat-header-cell *matHeaderCellDef style="padding-left: 8px;" > Price </th>
    <td mat-cell *matCellDef="let element" style="width: 5%;"> {{element.price | currency}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

</div>
</div>
