<div class="container">
    <div class="child-container">
        <h1 *ngIf="displayName!=''">Welcome {{displayName}}</h1>
        <h2 class="c2"><span>Willing to learn new things? Want to create solid profile in your domain?</span></h2>
        <h2 class="c1">You are on the right Platform...</h2>

        <h3>We are providing basic to adavanced level courses by which you can create a strong profile in your domain</h3>
        <h3>All Courses which we are providing are from world best tutors!</h3>
        <h3>What are you waiting for?</h3>
        <a href="http://localhost:4200/courses" routerLink='courses'>let's get Started</a>
    </div>
</div>