<div class="container">
    <div class="child-container">
        <div class="aboutUs">
            <mat-card>
                <h1>We are No.1 Online E-Learning platform in the world</h1>
                <h2>We are the winner of best education provider award for 2018,2019,2020 and 2021.
                    That's not enough! We are constantly working on student's requirements and giving them extra ordinary
                    courses with very affordable price.There are total <span> 1325 Courses </span> on our platform and we are keep adding them.
                    You can find all domain's courses on this platform like IT , Marketing , Civil Engineering , Account , Stock Market etc...
                    We are creating direct Impact on student's life.This is the platform with <span>40000 Happy Students.</span>
                </h2>
            </mat-card>
        </div>
    </div>
</div>
